app
.vscode/
data/
tools/

aux_docs/temp.txt
aux_docs/BDAE.bt
aux_docs/TRN.bt
aux_docs/ITM.bt
aux_docs/parserTRN_wireframe.h

libs/imgui/imgui.ini

zip_linux.sh
zip_windows.sh
zip_models.sh

README.pdf

aux_docs/mesa.supp